<link rel="stylesheet" href="/css/compactHeader.css">

<!-- Header -->
<header>
  <!-- Top Bar -->
  <div class="top-bar d-flex justify-content-between align-items-center">
    <!-- Logo and Site Name -->
    <div class="logo">
        <a href="/" class="d-flex align-items-center text-decoration-none">
            <img src="/images/logo.jpg" alt="Logo">
            <span>ALLSTARS JERSEYS</span>
        </a>
    </div>
    <!-- Navigation Bar -->
    <nav class="nav-bar">
        <ul class="nav" style="margin-right: 100px;">
            <li class="nav-item">
                <a class="nav-link" href="/">H o m e</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/jerseys">B r o w s e</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/myteam">M y  T e a m</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/aboutus">A b o u t  U s</a>
            </li>
        </ul>
    </nav>
    <!-- Account Links -->
    <%- include('menuButtons.ejs') %>
  </div>
</header>