<!-- views/partials/footer.ejs -->
<footer>
    <div class="container">
        <div class="text-center mt-3">
            <p class="mb-0">&copy; 2024 Allstars Jerseys Shop. All rights reserved.</p>
        </div>
    </div>
</footer>
