<link rel="stylesheet" href="/css/mainHeader.css">

<!-- Header -->
<header>
  <!-- Top Bar -->
  <div class="top-bar d-flex justify-content-between align-items-center">
    <!-- Logo and Site Name -->
    <div class="logo mx-auto text-center">
        <a href="/" class="d-flex flex-column align-items-center text-decoration-none">
            <img src="/images/logo.jpg" alt="Logo" class="logo-img">
            <span>ALLSTARS JERSEYS</span>
        </a>
    </div>
  </div>

  <!-- Navigation Bar and Account Links Container -->
  <div class="d-flex justify-content-between align-items-center">
    <!-- Navigation Bar -->
    <nav class="nav-bar">
        <ul class="nav" style="margin-left: 150px;">
            <li class="nav-item">
                <a class="nav-link" href="/">H o m e</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/jerseys">B r o w s e</a>
            </li>
            <% if (typeof isAdmin !== 'undefined' && isAdmin === true) { %>
              <li class="nav-item">
                  <a class="nav-link" href="/admin/console">A d m i n  A r e a</a>
              </li>
            <% } %>
            <li class="nav-item">
                <a class="nav-link" href="/personalArea">P e r s o n a l  A r e a</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/myteam">M y  T e a m</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/aboutus">A b o u t  U s</a>
            </li>
        </ul>
    </nav>


    <!-- Account Links -->
    <div class="account-links">
      
      <button class="text-decoration-none me-3" id="searchButton">
        <i class="bi bi-search"></i>
      </button>      
      <input id="inpSearch" autocomplete="off" placeholder="Search Team...">
      <div id="autocomplete_list"></div>

      <a href="/login" class="text-decoration-none me-3"><i class="bi bi-person"></i></a>
      <a href="/cart" class="text-decoration-none me-3"><i class="bi bi-cart"></i></a>
    </div>
  </div>
</header>

<script src="/js/main.js"></script>