body, html {
  height: 100%;
}

.error-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 50%;
  padding-top: 70px;
  padding-bottom: 70px;
  text-align: center;
}

.error-container h1 {
  margin-bottom: 30px;
}

.error-container p {
  margin-bottom: 40px;
}

.error-container a {
  padding: 10px 20px;
}