.star-rating {
    display: flex;
    justify-content: center;
    margin: 10px 0;
}
.star {
    font-size: 1.5em;
    color: lightgray;
}
.star.filled {
    color: gold;
}

/* Carousel Image Styling */
.carousel-item img {
    width: 100%;
    object-fit: cover;
    max-height: 100vh;
}