.star-rating {
    display: flex;
    justify-content: center;
    margin: 10px 0;
}
.star {
    font-size: 1.5em; /* Adjust size as needed */
    color: lightgray; /* Default color for empty stars */
}
.star.filled {
    color: gold; /* Color for filled stars */
}
/* Carousel Image Styling */
.carousel-item img {
    width: 100%;
    object-fit: cover;
    max-height: 100vh; /* Sets a max height to prevent oversized images */
}