.auth-container {
    max-width: 500px;
    margin: 5% auto;
    background: #fff;
    padding: 30px;
    border-radius: 8px;
}
.auth-container h2 {
    margin-bottom: 30px;
}
.form-control:focus {
    box-shadow: none;
}
.btn-primary {
    background-color: #0046AD;
    border-color: #0046AD;
}
.btn-primary:hover {
    background-color: #003B94;
    border-color: #003B94;
}